[exaged]
# An sqlalchemy database url
# dialect+driver://username:password@host:port/database
database_url = mysql://root:root@127.0.0.1/exaged
# An exact api config file
exact_api_config_file = exact_config.ini

[exacams]
parking_nord=rtsp://user:password@127.0.0.1:9000
parking_bureau=rtsp://user:password@127.0.0.1:9001

[samba]
user=
password=
server_name=
server_ip=
port=

[loggers]
keys=root

[handlers]
keys=stream_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=stream_handler

[handler_stream_handler]
class=StreamHandler
level=DEBUG
formatter=formatter
args=(sys.stderr,)

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s
